<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chef Profile</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <script src="main.js"></script>

    <!-- Main Stylesheet File -->
  <link href="/styles/bootstrap-style.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<!--Date and time-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />


</head>
<body>
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="/images/alexg.jpg" alt="John" style="width:100%">
  <h1>Alex G</h1>
  <p class="title">She a G!</p>
  <p>Bossass Chef</p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  {{!-- <p><button>Create Event</button></p> --}}

  <!-- Button trigger modal -->
<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Create Event
</button></p>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Details for Supper Club</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="container">

    <form>
    <div class="form-group" align="left">
    <label for="eventInput">Event Name</label>
    <input type="text" class="form-control" id="eventInput" placeholder="Example input">
    </div>
    <div class="form-group" align="left">
    <label for="eventTextarea">Event Description</label>
    <textarea class="form-control" id="eventTextarea" rows="3"></textarea>
    </div>
    <div class="form-group" align="left">
    <label for="texarea">Event Photo</label>
    <input type="putImage" class="form-control" id="putImage" placeholder="Another input">
    </div>
    <div class="form-group" align="left">
            <div class="input-group date" id="datetime" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetime"/>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetime">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    <div class="form-group" align="left">
        <label for="menuFile">Upload Menu</label>
        <input type="file" class="form-control-file" id="menuFile">
    </div>
    <div class="form-group" align="left">
    <label for="guestInput">Number of Guests</label>
    <input type="text" class="form-control" id="guestInput" placeholder="">
    </div>
    <div class="form-group" align="left">
            <label for="selectprice">Set Price</label>
              <select id="selectprice" name="selectprice" class="form-control">
                <option value="1">$25</option>
                <option value="2">$30</option>
                <option value="3">$40</option>
                <option value="4">$45</option>
                <option value="5">$50</option>
                <option value="6">$60</option>
                <option value="7">$75</option>
                <option value="8">$85</option>
                <option value="9">$100</option>
                <option value="10">$150</option>
                <option value="11">$175</option>
                <option value="12">$200</option>
              </select>
            </div>
        

          <div class="form-group" align="left">
                <label for="rulesTextarea">Rules:</label>
                <textarea class="form-control" id="rulesTextarea" rows="3"></textarea>
              </div>
        
    <button type="submit" class="btn btn-primary" id="submitstyle">Submit</button>  
        </form>
    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>
  <p><button>View Waiting List</button></p>
</div>
    
</body>
</html>