<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supper Form</title>
     <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
</head>
<body>
   <div class="container">

    <form>
    <div class="form-group">
    <label for="formGroupExampleInput">Event Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Event Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
    <label for="texarea">Event Photo</label>
    <input type="putImage" class="form-control" id="putImage" placeholder="Another input">
    </div>
    <div class="form-group">
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    <div class="form-group">
        <label for="exampleFormControlFile1">Upload Menu</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Number of Guests</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
            <label for="selectbasic">Set Price</label>
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">$25</option>
                <option value="2">$30</option>
                <option value="3">$40</option>
                <option value="4">$45</option>
                <option value="5">$50</option>
                <option value="6">$60</option>
                <option value="7">$75</option>
                <option value="8">$85</option>
                <option value="9">$100</option>
                <option value="10">$150</option>
                <option value="11">$175</option>
                <option value="12">$200</option>
              </select>
            </div>
        

          <div class="form-group">
                <label for="exampleFormControlTextarea1">Rules:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        
    <button type="submit" class="btn btn-primary" id="submitstyle">Submit</button>  
        </form>
    </div>
    
</body>
</html>