<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Supper Form</title>
     <script src="jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
</head>
<body>
<<<<<<< HEAD
    <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Supper Form</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="event_name">Event Name</label>  
  <div class="col-md-4">
  <input class="name" id="event_name" name="event_name" type="text" placeholder="Enter Event Name" class="form-control input-md">
    
  </div>
</div>

<!-- Event Description -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Event Description</label>
  <div class="col-md-4">                     
    <textarea class="form-control desc" id="textarea" name="textarea"></textarea>
  </div>
</div>

<!-- Event Photo -->
<div class="form-group">
     <label class="col-md-4 control-label" for="textarea">Event Photo</label>
    <div class="col-md-4">
    <input type="putImage" class="form-control img" id="inputImage" aria-describedby="nameHelp" placeholder="Paste Image Link">
  </div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Start Date</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="Start Date" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">End Date</label>  
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="End Date" class="form-control input-md">
  <span class="help-block"></span>  
  </div>
</div>


<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Event Time</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">5:00 PM</option>
      <option value="2">5:30 PM</option>
      <option value="3">6:00 PM</option>
      <option value="4">6:30 PM</option>
      <option value="5">7:00 PM</option>
      <option value="6">7:30 PM</option>
      <option value="7">8:00 PM</option>
      <option value="8">8:30 PM</option>
      <option value="9">9:00 PM</option>
      <option value="10">9:30 PM</option>
      <option value="11">10:00 PM</option>
    </select>
  </div>
</div>
<!-- Textarea -->
<div class="form-group">
     <label class="col-md-4 control-label" for="textarea">Menu</label>
    <div class="col-md-4">
    <input type="putImage" class="form-control" id="inputImage" aria-describedby="nameHelp" placeholder="Paste Menu Link">
  </div>

<!-- Number of Seats -->
<br>

<div class="form-group">
  <label class="col-md-4 control-label" for="event_name">Number of Guests</label>  
  <div class="col-md-4">
  <input id="event_name" name="event_name" type="text" placeholder="Enter Number of Seats Avaiable" class="form-control input-md">
    
  </div>
</div>

<!-- Price Range -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectbasic">Event Price</label>
  <div class="col-md-4">
    <select id="selectbasic" name="selectbasic" class="form-control">
      <option value="1">$25</option>
      <option value="2">$30</option>
      <option value="3">$40</option>
      <option value="4">$45</option>
      <option value="5">$50</option>
      <option value="6">$60</option>
      <option value="7">$75</option>
      <option value="8">$85</option>
      <option value="9">$100</option>
      <option value="10">$150</option>
      <option value="11">$175</option>
      <option value="12">$200</option>
    </select>
  </div>
</div>


<!-- Textarea -->
<div class="form-group">
  <label class="col-md-4 control-label" for="textarea">Rules:</label>
  <div class="col-md-4">                     
    <textarea class="form-control" id="textarea" name="textarea"></textarea>
  </div>
</div>

<button type="submit" class="btn btn-primary" id="submitstyle">Submit</button>

</fieldset>
</form>
<script>
    $(document).ready(function(){
  $('.flip').click(function(){
    $('.cont-flip').toggleClass('flipped');
    return false;  
  });
});

$(".profile").click(function(e){
    e.preventDefault();
    console.log("a thing");
    var event = {};
    event.name = $(".name").val().trim();
    event.desc = $(".desc").val().trim();
    event.img = $(".img").val().trim();
    event.twitter = $(".twitter").val().trim();
    event.instagram = $(".instagram").val().trim();
    event.bio = $(".bio").val().trim();


    console.log(event);

    $.post("/api/profile", event, function(req, res){
      console.log("more things")
    }).then(
      res.render("index");
    )
  })
</script>
=======
   <div class="container">

    <form>
    <div class="form-group">
    <label for="formGroupExampleInput">Event Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
    <label for="exampleFormControlTextarea1">Event Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
    <label for="texarea">Event Photo</label>
    <input type="putImage" class="form-control" id="putImage" placeholder="Another input">
    </div>
    <div class="form-group">
            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'ru'
                });
            });
        </script>
    <div class="form-group">
        <label for="exampleFormControlFile1">Upload Menu</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group">
    <label for="formGroupExampleInput">Number of Guests</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
    </div>
    <div class="form-group">
            <label for="selectbasic">Set Price</label>
              <select id="selectbasic" name="selectbasic" class="form-control">
                <option value="1">$25</option>
                <option value="2">$30</option>
                <option value="3">$40</option>
                <option value="4">$45</option>
                <option value="5">$50</option>
                <option value="6">$60</option>
                <option value="7">$75</option>
                <option value="8">$85</option>
                <option value="9">$100</option>
                <option value="10">$150</option>
                <option value="11">$175</option>
                <option value="12">$200</option>
              </select>
            </div>
        

          <div class="form-group">
                <label for="exampleFormControlTextarea1">Rules:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        
    <button type="submit" class="btn btn-primary" id="submitstyle">Submit</button>  
        </form>
    </div>
>>>>>>> master
    
</body>
</html>



