

{{#if notLoggedIn}}
    <li>
        <a href="/login">Login / Sign Up</a>    
    </li>
{{/if}}
              
{{#if isLoggedIn}}
    {{msg}}, {{username}}
    <a href="/chefprofile">MY PROFILE</a>
    <a href="/logout">LOGOUT</a>
{{/if}}
