{{#if notLoggedIn}}
    <li>
        <a href="/login">Login</a>    
    </li>
{{/if}}
              
{{#if isLoggedIn}}
    <li>{{msg}}, {{username}}</li>
    <li><a href="/chefprofile">My profile</li>
    <li><a href="/logout">Logout</li>
{{/if}}